#option_settings:
#  - namespace:  aws:elasticbeanstalk:application:environment
#    option_name:  SHORT_URL_TABLE
#    value:  <ShortUrl table name>
#  - namespace:  aws:elasticbeanstalk:application:environment
#    option_name:  ACTUAL_URL_INDEX
#    value:  <actualUrl-user-index global secondary index>
#  - namespace:  aws:elasticbeanstalk:application:environment
#    option_name:  USER_INDEX
#    value:  <user-createdAt-index global secondary index>
#  - namespace:  aws:elasticbeanstalk:application:environment
#    option_name:  AWS_REGION
#    value:  <AWS region>
#  - namespace:  aws:elasticbeanstalk:application:environment
#    option_name:  BASE_URL
#    value:  <https://www.shorturl.com/>    
